body {
    font-family: 'Assistant', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-weight: 700;
}


.top-banner {
    background-image: linear-gradient(to bottom, rgba(237, 240, 244, 0), rgb(17, 15, 17)),
        url(images/donation3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 0px;
    text-align: center;
    color: aliceblue;
}

.top-banner h1 {
    font-size: 50px;
    margin-top: 0px;
    padding-top: 150px;
}

p {
    margin-bottom: 50px;
}

.donate-button {
    text-decoration: none;
    background-color: #ff5959;
    color: rgb(212, 241, 241);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.div-center {
    height: 400px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.donation-amount {
    display: inline;
    background-color: rgba(225, 220, 220, 0.434);
    padding: 15px 10px;
    border-radius: 5px;
    margin: 100px 5px;
}

#donation-amount-selected {
    display: inline;
    background-color: rgba(255, 168, 168, 0.434);
    border: 2px solid #ff5959;
    color: #ff5959;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 100px 5px;
}


#other-input-amount {
    margin: 50px auto;
}

#other-input-amount input {
    width: 400px;
    border: none;
    border-bottom-style: groove;
    text-align: center;
}

.donation-item {
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
}


.flex-item-contatiner {
    display: flex;
    margin-left: 100px;
}

#food-donation {
    background-color: rgba(211, 213, 167, 0.416);
}

#shelter-donation {
    background-color: rgba(213, 185, 167, 0.416);
}

#education-donation {
    background-color: rgba(167, 213, 209, 0.416);
}

.subscribe-box {
    height: 110px;
    width: 50%;
    background-color: rgba(216, 197, 121, 0.459);
    margin: 5px auto;
    padding-top: 100px;
    font-size: 0;
}

.subs-button {
    text-decoration: none;
    background-color: #ff5959;
    color: rgb(212, 241, 241);
    font-size: medium;
    font-weight: 500;
    padding: 10px 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#email-input {
    width: 180px;
    border: none;
    height: 42px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

footer {
    height: 130px;
    text-align: center;
    background-color: black;
    color: aliceblue;
}

footer h3 {
    font-family: 'Lobster';
    font-size: 30px;
    color: #ff5959;
    padding-top: 50px;
    line-height: 5px;
}

footer h6 {
    font-weight: 200;
}